@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}

body {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 570px;
  max-height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 6rem;
  background-color: transparent;
  margin: 0 auto;
}
